.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    cursor: pointer;
}
.title .nm{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title img{
    width: 80px;
    height: auto;
}
.title h4{
    font-size: 28px;
    font-weight: 500;
}
.title h6{
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 400;
}